        body {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fa87d883;
            font-family: 'Segoe UI', sans-serif;
        }